
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6fb;
  color: #333;
}


header {
  background: linear-gradient(135deg, #004d7a, #008793);
  color: white;
  text-align: center;
  padding: 50px 20px;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header p {
  font-size: 1.1em;
  margin-top: 10px;
}


nav {
  background-color: #003f63;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
  color: #80e1ff;
}


section {
  padding: 50px 20px;
  max-width: 1000px;
  margin: auto;
}

section h2 {
  text-align: center;
  color: #004d7a;
  margin-bottom: 20px;
  font-size: 2em;
}
.welcome-image {
  text-align: center;
  margin-top: 30px;
}

.welcome-image img {
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.about-image {
  text-align: center;
  margin-top: 30px;
}

.about-image img {
  width: 50%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

th {
  background-color: #004d7a;
  color: white;
}


.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.speaker-card {
  background-color: white;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.speaker-card img {
  width: 100%;        
  height: 250px;       
  object-fit: cover;   
  border-radius: 10px;
}

.speaker-card h3 {
  margin: 10px 0 5px;
  color: #003f63;
}


form {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

button {
  background-color: #004d7a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #002f4b;
}


footer {
  background-color: #003f63;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 0.9em;
}
